/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* UTILITIES */

.debug {
    height: 300px;
}

.container {
    width: 1080px;
    height: 1080px;
    margin: 0 auto;
    background-color: pink;
}

ul {
    list-style-type: none;
}

/* HEADER */

.nav-bar {
    background-color: #ff6900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    height: 30px;
}

.menu {
    display: flex;
    gap: 15px;
    color: #ffff;
    font-size: 14px;
}

.profile {
    color: #ffff;
    margin-left: 15px;
}

/* MAIN */

.container {
    display: flex;
}

.prodotto {
    width: 320px;
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.offerta {
    position:absolute;
    background-color:#ff0000;
    bottom: 20px;
    color: #ffff;
}

.sostenibile {
    position: absolute;
    background-color: #008000;
    color: #ffff;
}

#sustain {
    bottom: 20px;
    left: 40px;
}

.cuore {
    background-color: #ffff;
    padding: 5px 10px 5px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 25px;
}

.row {
    font-size: 14px;
    font-weight: 600;
}

.row-red {
    font-size: 12px;
    color: #ff0000;
    font-weight: 600;
}

#relaxed-tee {
    background-image: url("../img/1.webp");
    margin-top: 100px;
    margin-bottom: 100px;
}

#roses-tee {
    background-image: url("../img/2.webp");
    margin-top: 100px;
    margin-bottom: 100px;
}

#pastello {
    background-image: url("../img/3.webp");
    margin-top: 100px;
    margin-bottom: 100px;
}

#tee-unisex {
    background-image: url("../img/4.webp");
    margin-top: 100px;
    margin-bottom: 100px;
}

#stripe-bodice {
    background-image: url("../img/5.webp");
    margin-top: 100px;
    margin-bottom: 100px;
}